// Specific CSS for your home-page
a {
  color: black;

}
.space{
  margin-top: 60px;
  margin-bottom: 60px;
}

.projects{
  background-color: #000000;
  padding: 150px 0;
}

.title-projects{
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}
.text-projects{
  color: white;
}
.btn-projects {
  color:  #E0CE9F;
  border: 2px solid  #E0CE9F;
}
.btn-projects:hover {
  background-color: #E0CE9F;
  color:#000000;
}
.responsive {
  width: 80%;
  height: auto;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}


.contact-logo img{
height: 150px;
padding-top: 40px;
}

