
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      <h3>TreisBlockchain</h3>
      <br>
      <ul>
        <li>Projects</li>
        <li>Team</li>
        <li>News</li>
        <li>Contact us</li>
      </ul>
      </div>
       <div class="col-sm-12  col-md-3">
        <p>Greer, 29650 <br> South Carolina, United States</p>
        <br>
  <p>601 High Tech Court</p>
      </div>
       <div class="col-sm-12 col-md-3 text-center">
        <img src="https://cdn.iconscout.com/icon/free/png-256/blockchain-2-411041.png" alt="" height="150px">
      </div>
    </div>
    <div class="text-center">
      <p style="font-size: 11px"> Copyright © 2019 treisblockchain. All rights reserved.</p>
    </div>
  </div>
</div>
