
<div class="message">
  <br>
  <div class="container">
    <br>
    <h3><strong>Contact us</strong></h3>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center contact-logo">
        <br>
        <%= image_tag "logo.png"%>
        <br>
        <br>
        <br>
        <p>Phone:+1 00 56904 2939210</p>
        <p>contact@treisblockchain.com</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <br>
        <h3>Send us a message!</h3>
        <br>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com!">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input  class="form-control" id="exampleFormControlInput1" placeholder="Name!">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message!"></textarea>
          </div>
        </form>
        <p class="btn btn-primary">Send</p>
      </div>
    </div>
    <hr>
  </div>
  <br>
  <br>
</div>
<br>

