<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg);">
  <div class="container static section text-center">
    <h1>Greer’s Treis Blockchain in pursuit of the next big thing</h1>
    <br>
    <p>By: Ross Norton <br> NOV 14, 2018</p>
    <hr>
    <br>
  </div>
</div>
<div class="container">
  <br>
    <hr>

  <div class="row">
    <div class="col-sm-12 ">
      <p>The empty racks may say more about Treis Blockchain than the full ones.</p>
      <p>For the moment, the racks stand lonely and mostly empty in 25,000 square feet of space that echoes with footsteps when the rare visitor passes through the Greer facility. But the space represents the optimism of Treis Blockchain LLC, whose partners are charging ahead to fill them.</p>
      <p>They will place one computer server beside the next one – one compact device after another until the shelf is full, then the entire rack, then the entire warehouse. And then another warehouse and another – four or five spread around the Upstate. Before long, the servers will be too old to keep up, and one by one today’s Application Specific Integrated Circuits, or ASICs, will be replaced, one after another, row after row.</p>
      <p>They have the same optimism as the gold miners of ’49, but these miners are looking for something precious in the digital world. Unlike the ‘49ers, they have a modern-day business plan and a patent-pending idea that would move the value of things in and out of the blockchain realm that has garnered a great deal of press, if just a little understanding.</p>
      <p>All those ASICs will burn a lot of electricity and take a lot of hours to install, but managing partner David Pence believes he and managing partners Michael Bolick and Senter Smith are pioneers in the next big thing.</p>
      <p>Several years ago, Pence was one of what he called “a bunch of guys” around the world that pointed their personal computers toward cryptocurrency. Called mining, the computers are dedicated to validate information, record the information in blocks, and connect each new block to the last in an ever-lengthening chain. As a reward for solving highly complex problems to validate the information, the miners are rewarded bits of the digital coin. Just as a dollar can be broken down into .01 pieces called pennies, a bitcoin is broken into .00000001 pieces called satoshi. The integrity of the chain is maintained by having 30 miners validate the information, Pence said.</p>
      <p>The computers that validate the block are chosen at random and they’re spread around the world, making it almost impossible to hack the system because a hacker would have to compromise all of those randomly chosen computers at the same time.</p>
      <p>Just a few years ago, a person could set it up at home and start mining, Pence said, but as the necessary computing power grew, the cost of running the machines outpaced profit.</p>
      <p>Pence, who had been operating his IT company — Acumen IT — for almost 20 years, knew it was time to unplug from cryptocurrency mining or go large. With a big space, powerful servers, and industrial rates for electricity, he thought it could be done. He approached his partners — Bolick, experienced in scaling business, and Smith, experienced in trading — and the three of them launched Treis Blockchain, which started with a singular focus on mining bitcoin.</p>
      <p>Like many others in the IT and business world, the partners of Treis believe that the technology that makes bitcoin work — the blockchain technology — is where the real opportunity lies, and they believe the rise of blockchain is upon us and the role of bitcoin and other cryptocurrencies is just ahead.</p>
      <p>“One day you will walk into the grocery store and you will go to the hotdogs and a pack of hotdogs will be priced in dollars and then to the right it will be priced in satoshi,” Pence said. “So it will be $2 for a pack of hotdogs or 14 satoshi. You’ll see that in five years.”</p>
      <p>Most people will use their phones to make the purchase and those purchases will be secured and verified through a blockchain. That’s how the buyer knows that money is gone and how the seller knows the money is now in hand.</p>
      <p>“I make you a sandwich and instead of paying me in cash, you pay me in satoshi. When you hit send what happens is the network around the world that says ‘Ah, the sender wants to send to the receiver” and there are supernodes out there that ask 30 servers to volunteer to check the blockchain,” Pence said. “If one of our servers in Greer gets chosen to verify this transaction, then 29 others around the world are selected and we all go check the database to see if you have enough satoshi to pay for the sandwich. If all 30 approve it, then it goes forward and all of the blockchains are updated.”</p>
      <p>And each of them gets a very small piece of the transaction, such as a penny. The profit comes from making millions of verifications.</p>
      <p>If one of those chains is hacked or destroyed, the others will recognize it and override that block.</p>
      <p>“That’s why hackers can’t hack a distributed block chain,” he said.</p>
      <p>Because that security is spread around the world, the system is superior than any of the mass filing systems that preceded it. The next challenge is finding a way to move value into and out of a blockchain.</p>
      <p>Treis Blockchain recently filed a patent to tackle that problem by enabling the separate blockchains to communicate and make transactions among one another. They’re calling it the “blockchain web” but an industry-wide term has not emerged, though much of the technology world is already moving in that direction, Pence said.</p>
      <p>“The whole world is exploding with blockchain. Mastercard, … everybody is starting to put their data on the blockchain because it’s such a good idea,” he said. “Just as everyone moved data from servers to cloud. The new cloud is blockchain. So we have a patent that moves physical value in our world into blockchain value in the blockchain world.”</p>
      <p>They are currently developing software to support the patent and they have registered the domain name Nstant.io. They believe smartphone apps will develop around the technology and Nstant.io will be a recognized brand and a preferred way to transact cryptocurrency in daily life.</p>
      <p>“We think that in the best-case scenario you’ll be able to walk up to a storefront and they will have on the door: Visa, MasterCard, American Express and Nstant accepted here. That’s the big dream,” Pence said.

Bolick said blockchain and the technologies that follow it will add a new economic layer to the world’s economy as the next generation grows accustomed to blockchain just as naturally as the current generation adopted the internet as a part of life.</p>

<p>“The whole concept of being connected is a different paradigm than it was 10 years ago,” he said. “An entire mindset is going to change. An entire generation of people is just going to know that there’s an immutable dataset out there and blockchain apps are going to be faster and they’re going to be trustworthy. It’s not going to be us pushing it; the market is going to be pulling us. And the competitors that don’t adopt this technology are going to be left behind. They’re going to be outrun by the companies doing it the new way.”</p>
     <hr>
    </div>
  </div>
</div>
<br>
