<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg);">
  <div class="container static section text-center">
    <h1 >Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h1>
    <br>
    <p>By: John Smiht <br>01/05/2019</p>
    <hr>
    <br>
  </div>
</div>
<div class="container">
  <br>
    <hr>

  <div class="row">
    <div class="col-sm-12 space">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam delectus, magnam voluptates necessitatibus molestiae iusto dolorem, quasi sint dignissimos quod officiis, nulla cupiditate nam excepturi commodi ad sapiente minima mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolorum laboriosam commodi soluta dolorem temporibus ut numquam iure distinctio maiores ad eos, ab nobis natus rem quod reiciendis hic, deleniti.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam delectus, magnam voluptates necessitatibus molestiae iusto dolorem, quasi sint dignissimos quod officiis, nulla cupiditate nam excepturi commodi ad sapiente minima mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolorum laboriosam commodi soluta dolorem temporibus ut numquam iure distinctio maiores ad eos, ab nobis natus rem quod reiciendis hic, deleniti.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam delectus, magnam voluptates necessitatibus molestiae iusto dolorem, quasi sint dignissimos quod officiis, nulla cupiditate nam excepturi commodi ad sapiente minima mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolorum laboriosam commodi soluta dolorem temporibus ut numquam iure distinctio maiores ad eos, ab nobis natus rem quod reiciendis hic, deleniti.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam delectus, magnam voluptates necessitatibus molestiae iusto dolorem, quasi sint dignissimos quod officiis, nulla cupiditate nam excepturi commodi ad sapiente minima mollitia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolorum laboriosam commodi soluta dolorem temporibus ut numquam iure distinctio maiores ad eos, ab nobis natus rem quod reiciendis hic, deleniti.</p>
     <hr>
    </div>
  </div>
</div>
