<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining.MichaelBolickDavidPenceAndSenterSmith-1.WillCrooks-1.jpg);">
  <div class="container static section text-center">
    <h1>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h1>
    <br>
    <p>By:  Andrew Moore  <br> MAY 10, 2018</p>
    <hr>
    <br>
  </div>
</div>
<div class="container">
  <br>
  <hr>

  <div class="row">
    <div class="col-sm-12 ">
      <p>Over the past several years, cryptocurrencies like bitcoin have surged in popularity and become a worldwide phenomenon, with millions of people buying and selling them.</p>

      <p>Now Greenville-based startup Treis Mining is looking to capitalize off the growing market and invest about $10 million in a cryptocurrency data center.</p>

      <p>Located in a 25,000-square-foot warehouse off Pelham Road, the center will house South Carolina&rsquo;s largest cryptocurrency mining farm once renovations are complete, according to David Pence, managing director and co-founder of Treis. The company plans to invest $2 million in capital improvements over the next two to three years.</p>

      <p>&ldquo;The process of confirming financial transactions over the internet is going to change the way countless industries operate over the next 10 years or so,&rdquo; Pence said. &ldquo;We&rsquo;re here as a company to facilitate that transition.&rdquo;</p>

      <p>Unlike fiat currency, or printed money, bitcoin and other cryptocurrencies are not tied to any bank or government. The system is instead maintained by a decentralized network of specialized computers around the world that confirm all cryptocurrency transactions and add them to a public ledger, which is also known as &ldquo;the blockchain.&rdquo;</p>

      <p>To add a transaction, the specialized computers, known as microprocessors, are required to &ldquo;mine&rdquo; for new cryptocurrency coins by competing against each other to solve complex mathematical problems. The first computer to solve the problems receives a share of the new coins. It can also collect transaction fees from coin holders and payment processors.</p>
      <p>&ldquo;We verify a transaction, and it is added to the blockchain,&rdquo; said Michael Bolick, managing director and co-founder of Treis. &ldquo;We are compensated in the particular cryptocurrency or coin upon which the transaction was processed.&rdquo;</p>

      <p>The calculations required to mine cryptocurrencies, however, are becoming more difficult as more and more computers join the network. This difficulty level adjusts itself according to the amount of computational power being employed after every 2,016 transactions, or roughly every two weeks. In fact, the mathematical problems have become so complicated that miners are now teaming up to verify transactions and agreeing to split the profits.</p>

      <p>Many cryptocurrencies have also been designed with a finite limit on the number of units that can ever be generated. The bitcoin network, for instance, has a set limit of 21 million coins. Miners have discovered and distributed about 17 million of those coins since 2009, but it could take more than 50 years to find the remaining 4 million due to the increasingly difficult calculations required to mine cryptocurrencies, according to Pence. At that point, mining for new blocks won&rsquo;t generate any coins.</p>

      <p>Additionally, the rewards for bitcoin mining halves roughly every four years. For example, when bitcoin was first created, the reward for successful mining was 50 coins. The reward now stands at 12.5 coins, and soon they&rsquo;ll only get 6.25. However, as the reward becomes smaller and smaller, every bitcoin mined will become more valuable as increased demand pushes the currency&rsquo;s price upward. Treis, however, will have the hardware necessary to compete, according to Pence.</p>

      <p>Today, the more computing power miners manage to accumulate, the more chances they have of solving the calculations required to verify cryptocurrency transactions. That&rsquo;s why miners have begun using Application Specific Integrated Circuits (ASIC) rigs to solve the problems. Treis, for instance, plans to invest roughly $8 million in more than 4,000 ASIC rigs over the next two years, said Bolick. &ldquo;They are purpose-built and are the most effective way to participate in helping to verify and add a given transaction to the blockchain,&rdquo; he said.</p>

      <p>Treis has already installed roughly 300 ASIC rigs capable of mining bitcoin, litecoin, and various other popular cryptocurrencies, he added. The microprocessors, however, require extraordinary amounts of computing power and electricity to run a highly sophisticated algorithm to verify transactions. And unfortunately, miners are only profitable when their hardware and electricity costs to mine one unit are lower than the price of one unit. That&rsquo;s why most mining companies, including Treis, sell cryptocurrency coins for a profit.</p>

      <p>A cryptocurrency is a digital or virtual currency designed to work as a medium of exchange that uses cryptography (the process of altering or rearranging data so that it&rsquo;s unreadable to anyone other than the intended recipient) to process transactions securely, control the creation of additional units, and verify the transfer of assets. The first cryptocurrency unit, bitcoin, was created in 2009 by an anonymous programmer known as Satoshi Nakamoto.</p>

      <p>In 2013, the United States Treasury Department classified bitcoin as a legal convertible decentralized virtual currency, allowing it to be purchased as an investment, like gold, or exchanged online for goods and services. The value of bitcoin is determined by how many people are buying it and using it, and how many new coins are in circulation. One bitcoin is currently worth about $9,395, according to blockchain.info, a news and data site. There are now close to 1,400 cryptocurrencies with a combined worth of about $300 billion.</p>

      <p>Pence, who is also the founder of Greenville-based Acumen IT, said he first got involved with cryptocurrency mining two years ago after reading about Microsoft&rsquo;s decision to allow an Ethereum blockchain network on its Azure cloud computing service.</p>

      <p>After thousands of hours of research, Pence started mining for Ethereum, the second most popular cryptocurrency, from his home. He then decided to expand his new venture and outfit a 1,500-square-foot building behind Acumen with 240 graphics processing units. Pence later added another 300 units to the warehouse space and began researching ASIC rigs to mine for other cryptocurrencies. But he needed more space &mdash; and some help.</p>

      <p>That&rsquo;s when Pence presented the idea of launching a mining company to Bolick, president of Greenville-based Selah Partners, who has more than a decade of experience in scaling businesses across South Carolina. Bolick, who agreed to join Pence, soon recruited Senter Smith to handle the buying and selling of cryptocurrencies. Smith, former director of Greenville-based United Catalyst Corp., has more than a decade of experience in trading.</p>

      <p>The trio officially launched Treis in December. &ldquo;The skill and experience set combination of our three partners enables Treis to be highly effective,&rdquo; Bolick said. &ldquo;Duke Power&rsquo;s stable and affordable power is also a clear differentiator globally.&rdquo;</p>

      <p>Bolick added that Treis, when fully operational, will require 12.5 megawatts of power, with each ASIC rig using approximately 1,600 watts per hour. &ldquo;We will be one of Duke Power&rsquo;s largest customers in South Carolina,&rdquo; he said.</p>

      <p>Unfortunately, the Antminer S9, one of the most advanced ASIC units, would require 451.91 days to mine one Bitcoin and use 14641.884 kilowatts, according to a recent study published by Crescent Electric Supply Company. In South Carolina, it requires approximately $4,302 in electricity to mine one bitcoin.</p>

      <p>To remain profitable, Treis not only plans to sell a share of the coins it earns but also to install a 250-ton trade chiller with ventilation to keep its rigs from overheating and lower its electricity bills, according to Pence. The company also plans to add additional monitors to its market analysis center, where Smith currently spends most of his weekdays monitoring pricing changes to determine which coins Treis should mine and sell.</p>

      <p>Luckily for Treis, bitcoin and other cryptocurrencies continue to proliferate, raising money through initial coin offerings. Some estimates say the cryptocurrency industry could be worth $5 trillion by 2022. By the first week of December 2017, for instance, ICOs had raised about $1.38 billion in the fourth quarter. And the Cboe Global Market began offering bitcoin futures last year, reaching $18,850 on the first day of trading.</p>

      <p>Cryptocurrencies, however, are high-risk investments that have been hit in recent months with increasing regulatory scrutiny. The U.S. Securities and Exchange Commission, for instance, recently announced that securities laws apply to everything from cryptocurrency exchanges to digital asset storage companies. In addition, Twitter and various other sites, including Google and Facebook, have banned cryptocurrency advertisements.</p>

      <p>In the three months ended March 31, Bitcoin fell from $13,412.44 to $6,928.85, marking a more than 48 percent decline, according to industry website CoinDesk, which tracks the price across a number of exchanges. And Ethereum experienced a 47.7 percent decline in price in the first quarter of 2018 from $755.76 to $394.65, according to data published by Coinmarketcap.com, another site which tracks the price of cryptocurrencies.</p>

      <p>Bolick added that Treis, when fully operational, will require 12.5 megawatts of power, with each ASIC rig using approximately 1,600 watts per hour. &ldquo;We will be one of Duke Power&rsquo;s largest customers in South Carolina,&rdquo; he said.</p>

      <p>Unfortunately, the Antminer S9, one of the most advanced ASIC units, would require 451.91 days to mine one Bitcoin and use 14641.884 kilowatts, according to a recent study published by Crescent Electric Supply Company. In South Carolina, it requires approximately $4,302 in electricity to mine one bitcoin.</p>

      <p>To remain profitable, Treis not only plans to sell a share of the coins it earns but also to install a 250-ton trade chiller with ventilation to keep its rigs from overheating and lower its electricity bills, according to Pence. The company also plans to add additional monitors to its market analysis center, where Smith currently spends most of his weekdays monitoring pricing changes to determine which coins Treis should mine and sell.</p>

      <p>Luckily for Treis, bitcoin and other cryptocurrencies continue to proliferate, raising money through initial coin offerings. Some estimates say the cryptocurrency industry could be worth $5 trillion by 2022. By the first week of December 2017, for instance, ICOs had raised about $1.38 billion in the fourth quarter. And the Cboe Global Market began offering bitcoin futures last year, reaching $18,850 on the first day of trading.</p>

      <p>Cryptocurrencies, however, are high-risk investments that have been hit in recent months with increasing regulatory scrutiny. The U.S. Securities and Exchange Commission, for instance, recently announced that securities laws apply to everything from cryptocurrency exchanges to digital asset storage companies. In addition, Twitter and various other sites, including Google and Facebook, have banned cryptocurrency advertisements.</p>

      <p>In the three months ended March 31, Bitcoin fell from $13,412.44 to $6,928.85, marking a more than 48 percent decline, according to industry website CoinDesk, which tracks the price across a number of exchanges. And Ethereum experienced a 47.7 percent decline in price in the first quarter of 2018 from $755.76 to $394.65, according to data published by Coinmarketcap.com, another site which tracks the price of cryptocurrencies.</p>
      <hr>
    </div>
  </div>
</div>
