<div class="space">
<div class="container">
<br>
<br>

  <h1 class="">News</h1>
  <hr>
  <br>
        <%= link_to  greers_treis_blockchain_path do %>

  <div class="row">
    <div class="col-md-6">
       <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
      </div>
    </div>
    <div class="col-md-6">
          <div>
            <h2>Greer’s Treis Blockchain in pursuit of the next big thing</h2>
            <br>
            <p>For the moment, the racks stand lonely and mostly empty in 25,000 square feet of space...</p>
          </div>

    </div>
  </div>
  <% end %>
</div>
</div>
<div class="container">
  <hr>
  <br>
  <div class="row">

<div class="col-md-4 col-sm-12">
        <%= link_to  greers_treis_blockchain_path do %>
        <div class="card-trip">
          <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Greer’s Treis Blockchain in pursuit of the next big thing</h2>
              <br>
              <p>For the moment, the racks stand lonely and mostly empty in 25,000 square feet of space that echoes with...</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= link_to digital_gold_path do %>
        <div class="card-trip">
          <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining.MichaelBolickDavidPenceAndSenterSmith-1.WillCrooks-1.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
              <br>
              <p>Over the past several years, cryptocurrencies like bitcoin have surged in popularity...</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
  <br>
<hr>
</div>
<br>
<br>
