<div class="space">
<div class="container">
<br>
  <h1 class="">News</h1>
  <hr>
  <br>

  <div class="row">
    <div class="col-md-6">
       <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
      </div>
    </div>
    <div class="col-md-6">
          <div>
            <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
            <br>
            <p>Short description here!</p>
          </div>

    </div>
  </div>
</div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
            <br>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
            <br>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
            <br>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
            <br>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
            <br>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card-trip">
        <img src="https://upstatebusinessjournal.com/wp-content/uploads/2018/05/0511.UBJ_.TreisBitcoinMining-6.WillCrooks.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Digital Gold: Greenville startup to open $10M data center for cryptocurrency mining</h2>
            <br>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br>
<br>
