<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://jmd.im/wp-content/uploads/2017/06/blacki_thumbnail.jpg);">
  <div class="container static section text-center">
    <h1 >TreisBlockchain is at the cutting-edge in blockchain intellectual property development projects.</h1>
    <br>
  </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
  <div class="container">
    <br>
    <br>
    <h1 style="color: #292929;">Projects</h1>
    <br>
    <hr style="color: white">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="card">
            <div class="icon"><i class="material-icons md-36">graphic_eq</i></div>
            <p class="title">Project</p>
            <p class="text">Project Description.</p>
            <a class="text btn btn-primary" style="color: white">More</a>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <div class="icon"><i class="material-icons md-36">graphic_eq</i></div>
            <p class="title">Project</p>
            <p class="text">Project Description.</p>
            <a class="text btn btn-primary" style="color: white">More</a>

          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <div class="icon"><i class="material-icons md-36">graphic_eq</i></div>
            <p class="title">Project</p>
            <p class="text">Project Description.</p>
            <a class="text btn btn-primary" style="color: white">More</a>
          </div>
        </div>
      </div>
    </div>
  <hr>
  </div>
</div>
<br>
<br>

