<br>
<div class="container">
  <h1>Our Team</h1>
  <div class="row">
     <!-- <div class="col-md-6 text-center">
      <div id="f1_container">
        <div id="f1_card">
          <div class="front face">
            <div class="cardteam">
              <img src="http://greenvillechamber.org/clientuploads/People/DP_Acumen_IT.jpg" alt="David" style="width:100%">
              <h3>David Pence</h3>
              <p class="title">CEO & Founder, Example</p>
              <p>Cool guy</p>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>

              <p><button>More</button></p>
            </div>
          </div>
          <div class="back face center">
           <div class="cardteam">
            <h3>David Pence</h3>
            <p class="title">CEO & Founder, Example</p>
            <p>Cool guy</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic beatae error doloremque aspernatur, facere porro, enim harum nemo blanditiis quas aut sequi eum quam ducimus natus, sint neque minus voluptatum.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-6 text-center">
      <div id="f1_container">
        <div id="f1_card">
          <div class="front face">
            <div class="cardteam">
              <img src="http://greenvillechamber.org/clientuploads/People/DP_Acumen_IT.jpg" alt="David" style="width:100%">
              <h3>David Pence</h3>
              <p class="title">CEO & Founder, Example</p>
              <p>Cool guy</p>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>

              <p><button>More</button></p>
            </div>
          </div>
          <div class="back face center">
           <div class="cardteam">
            <h3>David Pence</h3>
            <p class="title">CEO & Founder, Example</p>
            <p>Cool guy</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic beatae error doloremque aspernatur, facere porro, enim harum nemo blanditiis quas aut sequi eum quam ducimus natus, sint neque minus voluptatum.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<br>

</div>
